@import url("./reset.css");

:root {
  /* color palette using custom properties (cascading variables) */
  --white: #FFFFFF;
  --champagne-pink: #EED6D3;
  --pink-red: #E8B4B8;
  --muted-mauve: #8A6E6E;
  --Smoky-eggplant: #3C3235;
  --black: #000000;
}

/* @media screen and (prefers-color-scheme: light) {
}
 
@media screen and (prefers-color-scheme: dark) {
} */
 
* {
  box-sizing: border-box;
}
 
@media screen and (min-width: 600px) {
}


body {
  background-color: var(--champagne-pink);
}

.headr {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
}

.headr>img {
  height: 5rem;
  width: 5rem;
}

.headr>h1 {
  background-color: var(--muted-mauve);
  border-radius: 3rem;
  color: var(--white);
  font-size: 2.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  object-fit: contain;
  padding: 0.5rem 1rem;
}

.dv {
  height: 0.2rem;
  background: linear-gradient(to right, transparent, var(--black), transparent);
  margin: 2rem 0;
  padding: 0;
}

