body{
    background-color: #EED6D3
}
.headr{
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
}
.headr > img{
    height: 5rem;
    width: 5rem;
}
.headr > h1{
    background-color: #8A6E6E;
    border-radius: 3rem;
    color: #FFFFFF;
    font-size: 2.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  object-fit: contain;
  padding: 0.5rem 1rem;
}
.dv{
    height: 0.2rem;
    background: linear-gradient(
      to right, transparent,#000000, transparent
    );
    margin: 2rem 0;
    padding: 0;
  }