@import url("reset.css");

:root {
  /* color palette using custom properties (cascading variables) */
  --white: #FFFFFF;
  --champagne-pink: #EED6D3;
  --pink-red: #E8B4B8;
  --muted-mauve: #8A6E6E;
  --Smoky-eggplant: #3C3235;
  --black: #000000;
}

/* @media screen and (prefers-color-scheme: light) {
}
 
@media screen and (prefers-color-scheme: dark) {
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {

  header #logout button {
    display: flex;
    align-items: center;
    
    gap: 8px;
    height: fit-content;
    width: 180px;

  }

  header #logout img {
    display: inline;
  }

  #register-page main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "search course"
      "register register";
  }

  #register-page .search-container {
    grid-area: search;
  }

  #register-page table {
    grid-area: course;
  }

  #register-page #register-container {
    grid-area: register;
  }

}


body {
  background-color: var(--champagne-pink);
}

/* Horizontal rule in header */
hr {
  border: none;
  border-top: 8px solid black;
  width: 100rem; 
  margin-top: 20px; 
  margin-bottom: 0; 
}


.headr {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
}

.headr>img {
  height: 5rem;
  width: 5rem;
}

.headr>h1 {
  background-color: var(--muted-mauve);
  border-radius: 3rem;
  color: var(--white);
  font-size: 2.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  object-fit: contain;
  padding: 0.5rem 1rem;
}



#logout button {
  height: 40px;
  width: 60px;
  border-radius: 13px;
  border: none;
  background: var(--Smoky-eggplant);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#logout img {
  display: none;
}


/* register in a course */
#register-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* Search Container */
#register-page .search-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 450px;
  height: 210px;
  gap: 10px;
  padding: 15px;
  border-radius: 20px;
  background: var(--pink-red);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#register-page #searchBtn {
  height: 30px;
  border-radius: 5px;
  border: none;
  background: var(--Smoky-eggplant);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#register-page #searchBtn:hover {
  background: var(--muted-mauve);
}

#register-page input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#register-page #pendingCourses {
  margin-top: 20px;
}

/* Table Styling */
#register-page table {
  display: grid;
  border-collapse: collapse;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#register-page th,
#register-page td {
  padding: 11px;
  text-align: left;
  width: 9rem;
}

#register-container th,
#register-container td {
  width: 50rem;
}

#register-page th {
  background: var(--Smoky-eggplant);
  color: var(--white);
}

#register-container {
  display: none;
}


/* Register Button & Remove Button */
#register-page #registerBtn,
#register-page #removeBtn {
  height: 30px;
  width: 65px;
  border-radius: 5px;
  border: none;
  background: var(--Smoky-eggplant);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#register-page #registerBtn:hover,
#register-page #removeBtn:hover {
  background: var(--muted-mauve)
}

#register-container h2 {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-weight: bold;
}

/* learning-path-container */
#learning-path-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

#learning-path-container label {
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--Smoky-eggplant);
  font-weight: bold;
}

#learning-path-container select {
  width: 400px;
  padding: 12px 16px;
  border: var(--pink-red);
  border-radius: 10px;
  background: var(--pink-red);
  font-size: 14px;
  font-weight: 500;
  color: var(--Smoky-eggplant);
  cursor: pointer;
  outline: none;
}

#learning-path-container select:hover {
  color: var(--muted-mauve);
}

#path-table-container {
  display: grid;
  border-collapse: collapse;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#path-table-container th,
#path-table-container td {
  padding: 8px;
  text-align: left;
  width: 9rem;
}

#path-table-container th {
  background: var(--Smoky-eggplant);
  color: var(--white);
}

/* footer */
footer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9rem;
}

footer img {
  height: 20px;
}

footer a {
  color: var(--Smoky-eggplant);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--muted-mauve);
}

/* Horizontal rule before footer */
.foot hr {
  width: 1900px;
  height: 8px;
  background-color: #3C3235;
  border: none;
  margin: 0 auto 20px auto;
}